body {
  background-image: url("002.jpg");
  background-size: cover;
  padding: 20px;
}

.main {
  width: 700px;
  background-color: rgb(223, 85, 119);
  margin: 10px auto;
  border: 5px solid yellowgreen;
}
h1 {
  text-align: center;
  padding: 10px;
  font-family: "Mansalva", cursive;
  font-size: 2rem;
}

#start {
  color: yellowgreen;
  background-color: rgb(219, 41, 124);
  padding: 20px;
  margin: 20px;
  width: 30%;
  border-radius: 10px;
  font-size: 2rem;
}

#reset {
  color: yellowgreen;
  background-color: rgb(219, 41, 124);
  padding: 20px;
  margin: 20px;
  width: 30%;
  border-radius: 10px;
  font-size: 2rem;
}

#go {
  text-align: center;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

#go_again {
  text-align: center;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

.fonts {
  text-align: center;
  padding: 20px;
  font-family: "Inconsolata', monospace";
  font-size: 1rem;
}

.fonts2 {
  text-align: center;
  padding: 20px;
  font-family: "Inconsolata', monospace";
  font-size: 2rem;
}

#time {
  text-align: center;
  padding: 20px;
  font-family: "Mansalva", cursive;
  font-size: 2.5rem;
}
